.nav {
    grid-area: n;
    background-color: #5b5e81;
    padding-left: 20px;
    padding-top: 10px;
}
.item {
    text-decoration: none;
    list-style-type: none;
    color: white;
}
.active {
    color: gold; /* Золотой цвет для активной ссылки */
}