.posts {
    border: 1px solid silver;
    border-radius: 15px;
    margin-bottom: 5px;
    padding: 5px;
}
.item {
    color: #FFFFFF;

}
.item img {
    width: 50px;
    border-radius: 50px;
    padding-left: 10px;
}
